.profile {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  height: 40vh;
  background: url(/images/fed.jpg) no-repeat 10% 92%;
  background-size: cover;
}

.container:not(:first-of-type) {
  margin-top: 2em;
}

.container {
  font-size: 1.8rem;
  width: calc(100% - 40rem);
  max-width: 80vw;
  margin: 3rem auto;
  display: grid;
//   grid-template-columns: 1fr;
    grid-template-areas:    "head"
                            "main"
                            "foot";
  grid-gap: 2rem;

  .wrapper {
      display: grid;
    //   grid-template-rows:  repeat(3, 1fr);
    //   grid-template-columns: repeat(3, 3fr) 2fr;
    grid-template-areas:    "box--1 box--2 box--3 sidebar"
                            "main main main sidebar"
                            "main main main sidebar";
      grid-gap: 2rem;
      
      & > * {
          background-color: $color-blue-2;
          padding: 2rem;
          min-height: 10rem;
      }
      
      .sidebar {
          grid-row: 1 / -1;
          grid-column: 4 / 5;
      }
      
      .main-content {
          grid-row: 2 / 4;
          grid-column: 1 / 4;
      }
  }
}