// PRIMARY COLOURS
$color-white: #fff;
$color-black: #000;


// BRAND COLOURS //
// Greys
$color-grey-1: #333;
$color-grey-2: #666;
$color-grey-3: #999;
$color-grey-4: #ccc;
$color-grey-5: #f3f3f3;

// Blues
$color-blue-1: #0092ff;
$color-blue-2: #8ae7ff;
$color-blue-3: #f2faff;

// Greens
$color-green-1: #339933;
$color-green-2: #68ac48;
$color-green-3: #eafce1;

// Reds
$color-red-1: #e50f0f;
$color-red-2: #ec7676;
$color-red-3: #fce7e7;

// Oranges
$color-orange-1: #e49600;
$color-orange-2: #facc62;
$color-orange-3: #fff5e0;


// GRID //